#sidebar {
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;
    width: 200px;
    position: fixed;
    left: 0;
    height: 100vh;
    background-color: rgb(249,249,249);
    color: #fff;
    transition: all 0.3s;
    border-right: solid 1px rgb(182,208,224);
    margin-top: 54px;
}

#sidebar.active {
    margin-left: -200px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -200px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

#sidebar ul.components:first-child {
    padding-top: 20px;
}

#sidebar ul p {
    color: rgb(102, 102, 102);
    padding-left: 15px;
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 0.9em;
}

#sidebar ul li a {
    padding-left: 15px;
    font-size: 1.1em;
    display: block;
    color: rgb(3, 3, 3);
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 5px;
    text-decoration: none;
    padding-top: 1px;
    padding-bottom: 1px;
}

#sidebar li:last-child {
    border-bottom: solid 1px rgb(212,212,212);
    padding-bottom: 12px;
    padding-left: 0px;
}

#sidebar ul:last-child li:last-child {
    border-bottom: none;
}

.active-link {
    background-color: rgb(214, 216, 219);
}