<nav id="sidebar">
    <ul class="list-unstyled components">
        <p>Dummy Heading</p>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Portfolio</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
    <ul class="list-unstyled components">
        <p>Dummy Heading</p>
        <li class="active">
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Portfolio</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</nav>