<div class="body">

    <!--Header-->
    <app-header></app-header>
  
    <!-- Spinner -->
    <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="large" color="#00a7f8" type="ball-spin-clockwise"></ngx-spinner>
  
    <!-- Main content -->
    <main>
      <div class="container">
        
        <!-- Title -->
        <div class="row">
          <div class="col s12">
            <h3 class="header">Responder avaliação</h3>
            <p class="caption">Aplicação de avaliações que você deve responder.</p>
          </div>
        </div>

        <!-- No applications to answer -->
        <div class="row" *ngIf="applicationToAnswer.length<=0">
          <div class="col s12 center">
            <h5 class="header">Tudo certo! Você não tem avaliações para responder.</h5>
          </div>
        </div>

        <!-- Applications to answer -->
        <div class="row">
          <div class="col s12">
            <table class="highlight" *ngIf="applicationToAnswer.length>0">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Tipo</th>
                  <th>Método</th>
                  <th>Estratégia</th>
                  <th>Questões</th>
                  <th>Avaliado</th>
                  <th>Opções</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let application of applicationsByUser">
                  <td>{{ application.applicationName }}</td>
                  <td>{{ filterType(application.type) }}</td>
                  <td>{{ filterMethod(application.method) }}</td>
                  <td>{{ filterStrategy(application.strategy) }}</td>
                  <td>{{ application.questionsCount }}</td>
                  <td>{{ filterName(application.userRated) }}</td>
                  <td>
                    <a style="cursor: pointer;" title="Avaliar {{ filterName(application.userRated) }}" (click)="answerApplicationModal(application.applicationId, application.userRated)"><i class="material-icons left">edit</i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <!-- Modal to answer assessment -->
        <div id="answerApplication" class="modal modal-fixed-footer answerApplication">
          <div class="modal-content">
            <h4>Avaliando {{ filterName(currentUserBeingRated) }}</h4>
            <!-- Application info -->
            <div class="row">
              <p>
                Nome do avaliado: {{ filterName(currentUserBeingRated) }} <br>
                Aplicação: {{ currentApplication.name }}<br>
                Tipo de aplicação: {{ filterType(currentApplication.type) }}<br>
                Método da aplicação: {{ filterMethod(currentApplication.method) }}<br>
                Estratégia: {{ filterStrategy(currentApplication.strategy) }}<br>
              </p>
            </div>
            <!-- Questions -->
            <div class="row">
              <ul class="collapsible expandable" *ngIf="currentApplicationValid">
                <li *ngFor="let question of currentApplication.assessment.questions; let i = index" onclick="$('.collapsible').collapsible({ accordion: false });">
                  <div class="collapsible-header">{{ i+1 }} - {{ question.name | slice:0:40 }}{{ question.name.length > 40 ? '...' : ''}}</div>
                  <div class="collapsible-body">
                    <p><b>Questão: </b>{{ question.name }}</p>
                    <p><b>Competência: </b>{{ question.competenceName }}</p>
                    <!-- Alternatives -->
                    <div class="row" *ngIf="question.items.length>0">
                      <div class="col s12 m6 l4 xl3" *ngFor="let item of question.items; let j = index" style="padding: 0;">
                        <div class="card" style="cursor: pointer;" id="{{ i + '' + j}}" (click)="selectItem(i,j)">
                          <div class="card-content">
                            <p>{{ item.description }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <!-- Comments -->
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12 m6">
                    <i class="material-icons prefix">comment</i>
                    <label class="active" for="comments">Comentários</label>
                    <input #comments id="comments" type="text" class="validate" value="">
                  </div>
                </div>
              </form>
            </div>

          </div>

          <!-- Buttons -->
          <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
            <a class="modal-close waves-effect waves-light light-blue btn" (click)="saveAnswers()">Salvar</a>
          </div>
        </div>
  
      </div>
    </main>
  
    <!-- Footer -->
    <app-footer></app-footer>
  
  </div>
  