<!--Header-->
<app-header></app-header>

<!--MainPage-->
<div class="wrapper">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>

    <!--Content-->
    <div id="content">
        <div style="text-align:center">
            <h1>
              {{ title }}
            </h1>
            <img width="300" alt="Angular Logo" src=".\assets\desen.jpg">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          </div>
        </div>
</div>  



