<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" />

<div class="row" style="margin-bottom: 0px !important;">
    <div class="col-sm-1" style="margin-top: 25%;" *ngIf="model !== undefined && model.length > 0"><span class="axis-y">Resultado</span></div>
    <div class="col-sm-11">
        <div class="nine-box container">
            <div class="row">
                <div class="col-sm-4 box" *ngFor="let nivel of model" [style.background-color]="nivel.color">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <span class="box-title" [style.color]="nivel.colorTitle" [title]="nivel.title">{{ nivel.status }}</span>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" *ngIf="profile === 'team-profile'">
                            <div class="box-tag" [style.background-color]="nivel.colorTitle">
                                <span class="box-tag-title">{{ nivel.value }}</span>
                            </div>
                            <div class="box-tag" [style.background-color]="nivel.colorTitle">
                                <span class="box-tag-title">{{ nivel.percentage }}%</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 user-line container">
                            <div class="row" style="padding-bottom: 10px;">
                                <div #p="ngbPopover"
                                     class="col-sm-3 no-padding"
                                     [class.col-sm-3]="nivel.users.length > 1"
                                     [class.col-sm-12]="nivel.users.length === 1"
                                     *ngFor="let user of nivel.users; let idx = index"
                                     [openDelay]="300" 
                                     (mouseenter)="onSelectUser(p, user, nivel.status, idx);"
                                     (mouseleave)="onClosePopover(p)"
                                     [ngbPopover]="popContent" 
                                     [popoverTitle]="popTitle" 
                                     triggers="manual"
                                     [autoClose]="'outside'">
                                    <span *ngIf="idx < 4 && user.picture === ''"><i class="material-icons" style="font-size: 30px; margin-right: 10px;">person</i></span>
                                    <span *ngIf="idx < 4 && user.picture !== ''"><img [src]="user.picture" class="user-mini-avatar" onError="this.onerror=null;this.src='/assets/user.png';" referrerpolicy="no-referrer"/></span>
                                    <span *ngIf="idx === 4"><div class="total-users-link"><b>+{{nivel.totalUsers - 4}}</b></div></span>
                                </div>
                                <div *ngIf="nivel.users.length === 0" style="height: 28px;">
        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-11" style="text-align: center;" *ngIf="model !== undefined && model.length > 0">Competências + Potencial</div>
</div>



<ng-template #popTitle>
    <div class="row">
        <div class="col-sm-2">
            <span *ngIf="userDataPopup.picture === ''"><i class="material-icons" style="font-size: 60px; margin-right: 10px;">person</i></span>
            <img *ngIf="userDataPopup.picture !== ''" [src]="userDataPopup.picture" class="user-avatar"/>
        </div>
        <div class="col-sm-10">
            <h4>{{ userDataPopup.name }}</h4>
            <h5>{{ nivelPopup }}</h5>
        </div>
    </div>
</ng-template>
<ng-template #popContent>
    <span class="nine-box-font-size">Eixo Competências e Potencial: {{ formatValue(userDataPopup.y) }}</span><br>
    <span class="nine-box-font-size">Eixo Resultado: {{ formatValue(userDataPopup.x) }}</span><br>
    <span class="nine-box-font-size">Avaliação: {{ 'Performance 2022' }}</span><br>
    <h4>
        <span class="badge-custom badge-green-custom">Comunicação</span>
        <span class="badge-custom badge-green-custom badge-custom-margin-left ">Liderança</span>
        <span class="badge-custom badge-green-custom badge-custom-margin-left ">Respeito</span>
    </h4>
    <h4>
        <span class="badge-custom badge-yellow-custom">Respeito</span>
        <span class="badge-custom badge-yellow-custom badge-custom-margin-left ">Protagonismo</span>
        <span class="badge-custom badge-yellow-custom badge-custom-margin-left ">Visão Sistêmica</span>
    </h4>
    <div style="text-align: center;">
        <h5><a href="#">Ver avaliações</a></h5>
    </div>
</ng-template>