<nav>
  <div class="nav-wrapper light-blue">
    <!--<img src="../../../assets/psas.png" width="20" height="20" alt="PSAS" style="margin-top:-5px;">-->
    <a routerLink="/home" class="brand-logo">PSAS</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li *ngIf="loggedIn"><a routerLink="/help">Olá {{ user.firstName }}</a></li>
      <li *ngIf="loggedIn==false"><a routerLink="/user">Entrar</a></li>
      <li><a routerLink="/contact">Sobre</a></li>
      <li><a routerLink="/help">Ajuda</a></li>
      <li *ngIf="loggedIn"><a (click)="signOut()">Sair</a></li>
    </ul>
  </div>
</nav>