<!-- Navbar -->
<nav>
  <div class="nav-wrapper light-blue">
    <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <a routerLink="/home" class="brand-logo" style="padding-left: 10px;">PSAS</a>
    <!-- Navbar medium and upper -->
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li *ngIf="loggedIn"><a routerLink="/home">Olá {{ user.firstName }}</a></li>
      <li *ngIf="loggedIn==false"><a routerLink="/user">Entrar</a></li>
      <li *ngIf="loggedIn"><a (click)="signOut()">Sair</a></li>
    </ul>
    <!-- Sidenav medium and down -->
    <ul class="sidenav" id="mobile-nav">
      <li *ngIf="loggedIn"><a class="sidenav-close" href="/home">Olá {{ user.firstName }}</a></li>
      <li *ngIf="loggedIn==false"><a class="sidenav-close" href="/user">Entrar</a></li>
      <li><a class="sidenav-close" href="/contact">Sobre</a></li>
      <li><a class="sidenav-close" href="/help">Ajuda</a></li>
      <li *ngIf="loggedIn"><a (click)="signOut()">Sair</a></li>
    </ul>
  </div>
</nav>

<!-- Sidenav medium and upper -->
<ul id="slide-out" class="sidenav sidenav-fixed">
  <li class="logo center" style="margin-top: 30px; margin-bottom: 30px;">PSAS</li>
  <li><a routerLink="/contact">Dashboard</a></li>
  <li><a routerLink="/contact">Organização</a></li>
  <li><a routerLink="/contact">Equipe</a></li>
  <li><a routerLink="/contact">Avaliações</a></li>
  <li><div class="divider"></div></li>
  <li><a routerLink="/contact">Sobre</a></li>
  <li><a routerLink="/help">Ajuda</a></li>
</ul>

 