<div class="body">

  <!--Header-->
  <app-header></app-header>
  
  <!-- Spinner -->
  <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="large" color="#00a7f8" type="ball-spin-clockwise"></ngx-spinner>
  
  <!-- Main content -->
  <main>

    <div class="container">

      <!-- Title -->
      <div class="row">
        <div class="col s11">
          <h3>Detalhes Diário minha jornada & Feedback</h3>
        </div>
      </div>

      <div class="row">
        <div class="col s2 m4 offset-l9 l3" style="text-align: right;">
          <a class="waves-effect waves-light light-blue btn-large"
             (click)="onBack()">
            <i class="material-icons left">keyboard_return</i>Voltar
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <ul class="collapsible">
            <li>
              <div class="collapsible-header widget-header"><i class="material-icons">filter_list</i>Filtros</div>
              <div class="collapsible-body">
                
                <div class="row" style="margin-bottom: 0px !important;">
                  <span class="col s9">
                    <h5>Período<i class="material-icons prefix tooltipped" data-position="right" data-tooltip="Ajuda para o campo periodo">info</i></h5>
                  </span>
                </div>
                <div class="row">
                  <div class="input-field col s5 m4 l3">
                    <i class="material-icons prefix">date_range</i>
                    <input type="text" class="datepicker" name="startPeriod" [ngModel]="filter.startPeriod">
                  </div>
        
                  <div class="input-field col s5 m4 l3">
                    <i class="material-icons prefix">date_range</i>
                    <input type="text" class="datepicker" name="endPeriod" [ngModel]="filter.endPeriod">
                  </div>
                </div>

                <div class="row" style="margin-bottom: 0px !important;">
                  <div class="col s9" style="margin-left: 1rem;">
                    <h5>Tipo informação <i class="material-icons prefix">info</i></h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col s9" style="margin-left: 1rem; margin-top: 15px;">
                    <label>
                      <input name="informationTypeField" type="radio" value="1" [(ngModel)]="filter.informationType"/>
                      <span>Todos</span>
                    </label>
                    <label style="margin-left: 20px;">
                      <input name="informationTypeField" type="radio" value="2" [(ngModel)]="filter.informationType"/>
                      <span>Diário particular</span>
                    </label>
                    <label style="margin-left: 20px;">
                      <input name="informationTypeField" type="radio" value="3" [(ngModel)]="filter.informationType"/>
                      <span>Diário para o time</span>
                    </label>
                    <label style="margin-left: 20px;">
                      <input name="informationTypeField" type="radio" value="4" [(ngModel)]="filter.informationType"/>
                      <span>Feedback enviados</span>
                    </label>
                    <label style="margin-left: 20px;">
                      <input name="informationTypeField" type="radio" value="5" [(ngModel)]="filter.informationType"/>
                      <span>Feedback recebidos</span>
                    </label>
                  </div>
                </div>
                
                <div class="row" style="margin-bottom: 0px !important;">
                  <div class="col s6" style="margin-left: 1rem;">
                    <h5>Destinatário&nbsp;<i class="material-icons prefix">info</i></h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col s5">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">person</i>
                      <input type="text" id="autocomplete-input" class="autocomplete" [(ngModel)]="filter.recipient">
                    </div>
                  </div>
                </div>
      
                <div class="row" style="margin-bottom: 0px !important;">
                  <div class="col s6" style="margin-left: 1rem;">
                    <h5>Motivo da mensagem <i class="material-icons prefix">info</i></h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col s9" style="margin-left: 1rem; margin-top: 15px;">
                    <label>
                      <input name="messageTypeName" type="radio" value="0" [(ngModel)]="filter.messageType" />
                      <span>Todos</span>
                    </label>
                    <label>
                      <input name="messageTypeName" type="radio" value="1" [(ngModel)]="filter.messageType" />
                      <span>Reconhecimento</span>
                    </label>
                    <label style="margin-left: 20px;">
                      <input name="messageTypeName" type="radio" value="2" [(ngModel)]="filter.messageType"/>
                      <span>Desenvolvimento</span>
                    </label>
                  </div>
                </div>
      
                <div class="row" style="margin-bottom: 0px !important;">
                  <div class="col s6" style="margin-left: 1rem;">
                    <h5>Quais competências estão relacionadas? <i class="material-icons prefix">info</i></h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col s5" style="margin-left: 1rem;">
                    <select multiple [(ngModel)]="filter.relatedSkills" name="relatedSkillsField">
                      <option *ngFor="let o of compentencesList" [value]="o.key">{{ o.label }}</option>
                    </select>
                  </div>
                </div>

                <div class="row" style="margin-bottom: 0px !important;">
                  <div class="col s6" style="margin-left: 1rem;">
                    <h5>Palavras <i class="material-icons prefix">info</i></h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col s5" style="margin-left: 1rem;">
                    <select multiple name="wordsField">
                      <option value="time">Time</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col s2 m4 offset-l9 l3" style="text-align: right;">
                    <a class="waves-effect waves-light light-blue btn-large">
                      <i class="material-icons left">search</i>Pesquisar
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">

        <div class="col s5">
          <div class="widget-header">
            <span style="font-size: 25pt; color: #fff;">Nuvem de competências</span>
          </div>
          <div class="card" style="margin-top: 0px !important; height: 405px !important">
            <app-word-cloud #appWordCloud [data]="wcData"></app-word-cloud>
          </div>
        </div>

        <div class="col s3">
          <div class="widget-header">
            <span style="font-size: 25pt; color: #fff;">Ranking</span>
          </div>
          <div class="card" style="margin-top: 0px !important; height: 405px !important">
            <div *ngFor="let l of rankingData" style="padding: 10px;">
              <div class="col s1" style="height: 20px; border-radius: 20%; margin-top: 5px; " style.background-color="{{ l.color }}"></div>
              <div class="col s10"><span style="font-size: 15pt;">{{ l.name }}</span></div>
              <div class="col s1"><span style="font-size: 15pt;">{{ l.weight }}</span></div>
            </div>
          </div>
        </div>

        <div class="col s4" *ngIf="profile === 'team-profile'">
          <div class="widget-header">
            <span style="font-size: 25pt; color: #fff;">Ranking de mensagens</span>
          </div>
          <div class="card" style="margin-top: 0px !important; height: 405px !important">
            Mensagens
          </div>
        </div>

        <div class="col s4" *ngIf="profile === 'user-profile'">
          <div class="widget-header">
            <span style="font-size: 25pt; color: #fff;">Diário e Feedbacks</span>
          </div>
          <div class="card" style="margin-top: 0px !important; height: 405px !important">

            <div class="row" style="padding: 10px; padding-top: 65px;">
              <div class="col s1 offset-s4" style="height: 40px; border-radius: 5px; padding: 5px; display: inline-table; background-color: lightgreen;">
                <span style="font-size: 20pt;">{{ totalReceived }}</span>
              </div>
              <div class="col s6"><span style="font-size: 20pt;">Recebidos</span></div>
            </div>

            <div class="row" style="padding: 10px;">
              <div class="col s1 offset-s4" style="height: 40px; border-radius: 5px; padding: 5px; display: inline-table; background-color: lightgoldenrodyellow">
                <span style="font-size: 20pt;">{{ totalSent }}</span>
              </div>
              <div class="col s6"><span style="font-size: 20pt;">Enviados</span></div>
            </div>

            <div class="row" style="padding: 10px;">
              <div class="col s1 offset-s4" style="height: 40px; border-radius: 5px; padding: 5px; display: inline-table; background-color: lightskyblue">
                <span style="font-size: 20pt;">{{ totalDiary }}</span>
              </div>
              <div class="col s6"><span style="font-size: 20pt;">Diário</span></div>
            </div>

          </div>
        </div>

      </div>
<!-- CARDS -->
      <div class="row">

        <div class="col s4" *ngFor="let card of cards">
          <div class="widget-header-cards">
            <img src="https://via.placeholder.com/40x40?text={{card.letter}}" class="user-avatar"/>
            <span class="widget-header-cards-title">{{ card.params.recipientName || card.params.recipient}}</span>
          </div>
          <div class="card" style="margin-top: 0px !important; height: 396px !important">

            <div class="col s12">
              <span><b>Data:</b> {{ card.params.utilizationDate | date:'dd/MM/yyyy' }}</span>
            </div>

            <div class="col s12" style="height: 80px;">
              <span><b>Mensagem:</b> {{ card.params.message }}</span>
            </div>

            <div class="col s12" style="height: 80px;">
              <a class="waves-effect waves-light btn" style="margin: 2px" *ngFor="let skill of card.params.relatedSkills">{{ skill }}</a>
            </div>
          
            <div class="col s12" style="margin-top: 10px;">
              <div class="card-panel grey lighten-5" style="padding: 15px !important">
                <span style="font-size: 17pt; font-weight: bold;">{{ card.informationTypeValue }}</span><br>
                <span><img [src]="card.params.issuerPhotoUrl" class="user-big-avatar"/></span>
                <span style="display: inline-block; vertical-align: top; margin-top: 8px; font-size: 15pt;">{{ card.params.issuerName }}</span>
              </div>
            </div>

            <div class="col s6">
              <div class="chip teal">{{ card.messageTypeValue }}</div>
            </div>

          </div>
        </div>
      </div>


    </div>
  </main>
</div>
