<div class="body">

    <!--Header-->
    <app-header></app-header>

    <!-- Spinner -->
    <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="large" color="#00a7f8" type="ball-spin-clockwise"></ngx-spinner>
  
    <!-- Main content -->
    <main>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h3 class="header">Organização</h3>
            <p class="caption">Esta é a página com informações da organização.</p>
          </div>
        </div>

        <!-- Table -->
        <div class="row" *ngIf="organizationsCount>0">
            <div class="col s12">
              <div class="card darken-1">
                <div class="card-content" style="padding: 0px;">
                    <table class="">
                        <thead>
                          <tr>
                              <th style="width: 30%;padding-left:15px;">Nome</th>
                              <th style="width: 15%;">Pessoas</th>
                              <th style="width: 15%;">Competências</th>
                              <th style="width: 15%;">Status</th>
                              <th style="width: 20%;">Opções</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let org of organizationsList">
                            <td style="padding-left:15px;">{{org.name}}</td>
                            <td>{{org.users.length}}</td>
                            <td>{{org.competences ? org.competences.length : 0}}</td>
                            <td>{{org.status}}</td>
                            <td>
                              <a class="modal-trigger" href="#manageUsers"><span title="Gerenciar pessoas da organização"><i class="material-icons left">person</i></span></a>
                              <a class="modal-trigger" href="#manageUsers"><span title="Gerenciar competências da organização"><i class="material-icons left">device_hub</i></span></a>
                              <a *ngIf="org.status=='active'" class="modal-trigger" href="#manageUsers"><span title="Desativar organização"><i class="material-icons left">blur_off</i></span></a>
                              <a class="modal-trigger" href="#deleteOrganization" onclick="M.Modal.init(document.querySelectorAll('.modal'));$('.deleteOrganization').modal('open');" (click)="organizationId=org._id; organizationName=org.name"><span title="Excluir organização"><i class="material-icons left">delete</i></span></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
              </div>
            </div>
          </div>

          <!-- Buttons -->
          <div class="row">
            <div class="col s12">
              <a class="waves-effect waves-light light-blue btn-large modal-trigger" href="#newOrganization" onclick="M.Modal.init(document.querySelectorAll('.modal'));$('.newOrganization').modal('open');"><i class="material-icons left">add</i>Nova organização</a>
            </div>
          </div>

          <!-- Modal for new organization -->
          <div id="newOrganization" class="modal modal-fixed-footer newOrganization">
            <div class="modal-content">
              <h4>Nova organização</h4>
              <p>
                Uma organização permite que você gerencie todas as competências, pessoas e equipes de trabalho.
                Dentro do PSAS, os dados de uma organização não podem ser acessados ou vinculados à outra organização, mesmo que você tenha o perfil de acesso de gestor da organização.
                Ao criar uma nova organização, o seu perfil já será incluído como gestor da organização.
              </p>
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s6">
                      <i class="material-icons prefix">description</i>
                      <input #orgName id="organizationName" type="text" class="validate">
                      <label for="organizationName">Nome</label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
              <a class="modal-close waves-effect waves-light light-blue btn" (click)="addOrganization(orgName.value)">Salvar</a>
            </div>
          </div>

          <!-- Modal to delete organization -->
          <div id="deleteOrganization" class="modal modal-fixed-footer deleteOrganization">
            <div class="modal-content">
              <h4>Excluir organização <b>{{ organizationName }}</b></h4>
              <p>
                Você tem certeza que deseja excluir a organização?
                Todas as informações relacionadas à organização serão apagadas e nenhuma pessoa terá mais acesso à esta organização.
                Essa ação não poderá ser desfeita!
              </p>
            </div>
            <div class="modal-footer">
              <a (click)="organizationId=''" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
              <a class="modal-close waves-effect waves-light red btn" (click)="deleteOrganization(organizationId)">Excluir</a>
            </div>
          </div>

      </div>
    </main>
  
    <!-- Footer -->
    <app-footer></app-footer>
  
  </div>
  