<div class="body">

  <!--Header-->
  <app-header></app-header>
  
  <!-- Spinner -->
  <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="large" color="#00a7f8" type="ball-spin-clockwise"></ngx-spinner>
  
  <!-- Main content -->
  <main>

    <div class="container">

      <!-- Title -->
      <div class="row">
        <div class="col s12">
          <h3 class="header">Perfil da organização</h3>
          <p class="caption">Esta página está em desenvolvimento :)</p>
        </div>
      </div>

      <!-- Cards 
      <div class="row">
        <div class="col s12 m4" style="cursor: pointer;" routerLink="/competence">
          <div class="card-panel white" style="height: 300px;">
            <h6>Competências</h6>
            <div id="competences" style="height: 100%;"></div>
          </div>
        </div>
        <div class="col s12 m4" style="cursor: pointer;" routerLink="/application">
          <div class="card-panel white" style="height: 300px;">
            <h6>Avaliações</h6>
            <h5>15 aplicações</h5>
            <h5>100% das pessoas participando</h5>
            <h5>4 avaliações não respondidas</h5>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card-panel white" style="height: 300px;">
            <h6>Recomendações</h6>
            <h5>Nenhuma recomendação</h5>
          </div>
        </div>
      </div>

      <div class="divider"></div>
      <div class="row">
        <div class="col s12">
          <h3 class="header">Resultados de avaliação</h3>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12 m6">
              <select>
                <option value="0" selected>Option 0</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
              <label>Projeto</label>
            </div>
            <div class="input-field col s12 m6">
              <select>
                <option value="0" selected>Option 0</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
              <label>Equipe</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="card-panel white" style="height: 500px;">
                <div id="results"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="divider"></div>
      <div class="row">
        <div class="col s12">
          <h3 class="header">Destaques por competência</h3>
        </div>
      </div>-->

      



      <div class="row">
        <div class="col s12">
          <div id="teste"></div>
        </div>
      </div>

    </div>

  </main>
  
  <!-- Footer -->
  <app-footer></app-footer>
  
</div>
  
  