<div class="body">

  <!--Header-->
  <app-header></app-header>

  <!-- Spinner -->
  <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="large" color="#00a7f8" type="ball-spin-clockwise"></ngx-spinner>

  <!-- Main content -->
  <main>
    <div class="container">
      
      <!-- Title -->
      <div class="row">
        <div class="col s12">
          <h3 class="header">Equipes</h3>
          <!--<p class="caption">
              
          </p>-->
        </div>
      </div>

      <div class="row" *ngIf="teamsCount<=0">
        <div class="col s12 center">
          <h5 class="header">Você não está cadastrado em nenhuma equipe!</h5>
          <p class="caption">
            Crie uma equipe clicando no botão "Nova equipe" ou solicite para o gestor da organização ou gestor de equipe que você deseja participar incluir você como membro da organização.
          </p>
        </div>
      </div>

      <!-- Cards of teams 
      <div class="row" *ngIf="projectsList.length>0">
        <div class="col s12 m6 l6 xl4" *ngFor="let team of teamsList">
          <div class="card small darken-1">
            <div class="card-content">
              <span class="card-title">{{ team.name }}</span>
              <p>
                Projeto {{ findProjectName(team.projectId) }}
                <br>
                {{ team.members.length }} {{ team.members.length>1 ? 'pessoas' : 'pessoa' }}
              </p>
            </div>
            <div class="card-action light-blue">
              <a *ngIf="userProfile==='organizationManager' || userProfile==='projectManager' || userProfile==='teamManager'" style="color: white;" [routerLink]="['/team', team._id]" title="Editar equipe {{ team.name }}"><i class="material-icons left">edit</i></a>
              <a *ngIf="userProfile==='organizationManager' || userProfile==='projectManager' || userProfile==='teamManager'" class="modal-trigger" style="color: white;" href="#deleteTeam" title="Excluir equipe {{ team.name }}" (click)="deleteTeamModal(team._id)"><i class="material-icons left">delete</i></a>
            </div>
          </div>
        </div>
      </div>-->

      <!-- Teams -->
      <div class="row" *ngIf="projectsList.length>0">
        <div class="col s12">
          <table class="highlight">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Projeto</th>
                <th>Membros</th>
                <th *ngIf="userProfile==='organizationManager' || userProfile==='projectManager' || userProfile==='teamManager'">Opções</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let team of teamsList">
                <td>{{ team.name }}</td>
                <td>{{ findProjectName(team.projectId) }}</td>
                <td>{{ team.members.length }}</td>
                <td *ngIf="userProfile==='organizationManager' || userProfile==='projectManager' || userProfile==='teamManager'">
                  <a [routerLink]="['/team', team._id]" title="Editar equipe {{ team.name }}"><i class="material-icons left">edit</i></a>
                  <a [routerLink]="['/team', team._id]" title="Editar pessoas da equipe {{ team.name }}"><i class="material-icons left">people</i></a>
                  <a class="modal-trigger" href="#deleteTeam" title="Excluir equipe {{ team.name }}" (click)="deleteTeamModal(team._id)"><i class="material-icons left">delete</i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Buttons -->
      <div class="row" *ngIf="userProfile==='organizationManager' || userProfile==='projectManager' || userProfile==='teamManager'">
        <div class="col s12 center">
          <a class="waves-effect waves-light light-blue btn-large modal-trigger" href="#addTeam" (click)="addTeamModal()"><i class="material-icons left">add</i>Nova equipe</a>
        </div>
      </div>

      <!-- User without access -->
      <div class="row" *ngIf="userProfile!='organizationManager' && userProfile!='projectManager' && userProfile!='teamManager'">
        <div class="col s12 center">
          <p class="caption">Você não possui acesso para adicionar, alterar ou excluir equipes na organização {{ organizationName }}.</p>
        </div>
      </div>

      <!-- Modal for new team -->
      <div id="addTeam" class="modal modal-fixed-footer addTeam">
        <div class="modal-content">
          <h4>Nova equipe</h4>
          <p>
            Informe o nome da equipe.
          </p>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <i class="material-icons prefix">description</i>
                  <input #tName id="tName" type="text" class="validate">
                  <label for="tName">Nome</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <i class="material-icons prefix">description</i>
                  <label for="tProjectId" class="active">Projeto</label>
                  <select #tProjectId id="tProjectId" class="validate">
                      <option *ngFor='let project of projectsList' [value]="project._id">
                        {{ project.name }}
                      </option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
          <a class="modal-close waves-effect waves-light light-blue btn" (click)="addTeam(tName.value, tProjectId.value)">Salvar</a>
        </div>
      </div>

      <!-- Modal to delete team -->
      <div id="deleteTeam" class="modal modal-fixed-footer deleteTeam">
        <div class="modal-content">
          <h4>Excluir equipe <b>{{ teamName }}</b></h4>
          <p>
            Você tem certeza que deseja excluir a equipe?
            Essa ação não poderá ser desfeita!
          </p>
        </div>
        <div class="modal-footer">
          <a (click)="teamId=''" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
          <a class="modal-close waves-effect waves-light red btn" (click)="deleteTeam(teamId)">Excluir</a>
        </div>
      </div>

    </div>
  </main>

  <!-- Footer -->
  <app-footer></app-footer>

</div>
