<div class="body">

  <!--Header-->
  <app-header></app-header>

  <!-- Spinner -->
  <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="large" color="#00a7f8" type="ball-spin-clockwise"></ngx-spinner>

  <!-- Main content -->
  <main>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h3 class="header">Dashboard</h3>
          <p class="caption">Esta é a página principal.</p>
        </div>
      </div>
    </div>
  </main>

  <!-- Footer -->
  <app-footer></app-footer>

</div>

