<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<div style="padding: 16px;" *ngIf="showData">
    <h4>Filtros</h4>
</div>

<div class="row" style="padding: 16px;" *ngIf="showData">
    <div class="input-field col s4">
        <i class="material-icons prefix">date_range</i>
        <input id="initialPeriod" type="text" class="datepicker" [ngModel]="startPeriod">
        <label for="initialPeriod" class="active">Periodo inicial</label>
    </div>
    <div class="input-field col s4">
        <i class="material-icons prefix">date_range</i>
        <input id="finalPeriod" type="text" class="datepicker" [ngModel]="endPeriod">
        <label for="finalPeriod" class="active">Periodo final</label>
    </div>
</div>

<div class="row" style="padding: 16px;" *ngIf="showData">
    <div class="input-field col s4">
        <select>
            <option value="" disabled selected>Selecione o cargo</option>
            <option value="1">Analista I</option>
            <option value="2">Analista II</option>
            <option value="3">Coordenador</option>
            <option value="4">Especialista</option>
            <option value="5">Técnico em Desenv.</option>
        </select>
        <label>Cargo</label>
    </div>
    
    <div class="input-field col s4">
        <select>
            <option value="" disabled selected>Selecione a equipe</option>
            <option [value]="team._id" *ngFor="let team of teamsList">{{ team.name }}</option>
        </select>
        <label>Equipe</label>
    </div>

    <div class="input-field col s4">
        <select>
            <option value="" disabled selected>Selecione a competência</option>
            <option [value]="comp.name" *ngFor="let comp of competenceSeries">{{ comp.name }}</option>
        </select>
        <label>Competências</label>
    </div>

</div>

<div class="row" style="padding: 16px;" *ngIf="showData">
    <div class="col s2 m4 offset-l9 l3" style="text-align: right;">
        <a class="waves-effect waves-light light-blue btn-large" style="color: white;">
        <i class="material-icons left" style="color: white;">search</i>Pesquisar
        </a>
    </div>
</div>

<table style="margin-top: 10px;" *ngIf="showData">
    <thead>
      <tr>
        <th style="text-align: center; background-color: rgb(3, 155, 229, 0.2); color: #039be5;">Data</th>
        <th style="text-align: center; background-color: rgb(3, 155, 229, 0.2); color: #039be5; width: 250px;">Cargo</th>
        <th style="text-align: center; background-color: rgb(3, 155, 229, 0.2); color: #039be5; width: 250px;">Equipe</th>
        <th style="text-align: center; background-color: rgb(3, 155, 229, 0.2); color: #039be5;" *ngFor="let comp of competenceSeries" [hidden]="comp.name === 'Resultado'">{{ comp.name }}</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of rows; let idx = index;">
            <td style="text-align: center; background-color: lightgray;">{{ application.endDate | date: 'dd/MM/yyyy' }}</td>
            <td style="text-align: center; background-color: lightgray; width: 250px;">Analista II</td>
            <td style="text-align: center; background-color: lightgray; width: 250px;">{{ application.team.name }}</td>
            <td style="text-align: center;" *ngFor="let comp of competenceSeries" [hidden]="comp.name === 'Resultado'">{{ getData(idx, comp.data) }}</td>
        </tr>
    </tbody>
</table>
<br>
<div id="history-chart-id"></div>