<div class="body">

  <!--Header-->
  <app-header></app-header>
  
  <!-- Spinner -->
  <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="large" color="#00a7f8" type="ball-spin-clockwise"></ngx-spinner>
  
  <!-- Main content -->
  <main>

    <div class="container">

      <!-- Title -->
      <div class="row">
        <div class="col s12">
          <h3 style="font-size: 2.92rem !important;">Dashboard de competências</h3>
        </div>
      </div>
      
      <div class="row">
        <div class="col s12">
            <label>
              <input name="perfilGroup" type="radio" value="1" [(ngModel)]="profileSelector" (click)="onChangeProfile(1)"/>
              <span>Meu perfil</span>
            </label>
            <label style="margin-left: 20px;">
              <input name="perfilGroup" type="radio" value="2" [(ngModel)]="profileSelector" (click)="onChangeProfile(2)" [disabled]="profile === 'organizationMember'"/>
              <span>Minha equipe</span>
            </label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6" [hidden]="!isLoadingComplete">
          <i class="material-icons prefix" (click)="onSelectAppModal()" style="color: #03a9f4; cursor: pointer;">search</i>
          <label for="assessmentField" class="active">Avaliação aplicada</label>
          <input type="text" [ngModel]="assessmentName" [disabled]="true">
        </div>

        <div class="input-field col s6" [hidden]="!isLoadingComplete">
          <i class="material-icons prefix">description</i>
          <label for="teamField" class="active">Equipe</label>
          <input type="text" [ngModel]="teamValue" [disabled]="true">
        </div>

        <div class="input-field col s6" [hidden]="isLoadingComplete">
          <div>Carregando...</div>
        </div>
      </div>

      <div class="row">
        <div class="col s6">
          <div class="widget-header">
            <span style="font-size: 25pt; color: #fff;">Diário & Feedback</span>
            <span class="detail-header"
                  (click)="onDetailsJourneyAndFeedback()">
              <i class="material-icons prefix" style="font-size: 30pt; color: #fff;" *ngIf="isLoadingComplete">more_vert</i>
            </span>
          </div>
          <div class="card" style="margin-top: 0px !important; height: 405px !important">
            <app-word-cloud #appWordCloud [data]="wcData"></app-word-cloud>
          </div>
        </div>

        <div class="col s6">
          <div class="widget-header">
            <span style="font-size: 25pt; color: #fff;">Competências em destaque</span>
            <span class="detail-header"
                  (click)="onShowQuestionnaireResult()">
              <i class="material-icons prefix" style="font-size: 30pt; color: #fff;" *ngIf="isLoadingComplete">more_vert</i>
            </span>
          </div>
          <div class="card" style="margin-top: 0px !important; height: 405px !important; padding: 20px; padding-top: 50px !important;">
            <div class="row">
              <div class="col s3" style="text-align: center;">
                <span><img src="/assets/check.jpeg" style="width: 50%"/></span>
              </div>
              <div class="col s9">
                <h3>Pontos fortes</h3>
                <ul>
                  <li style="font-size: 15pt;">1º Comunicação</li>
                  <li style="font-size: 15pt;">2º Respeito</li>
                  <li style="font-size: 15pt;">3º Liderança</li>
                </ul>
              </div>
            </div>
            
            <div class="row">
              <div class="col s3" style="vertical-align: text-top; text-align: center;">
                <span><img src="/assets/warning.jpeg" style="width: 50%"/></span>
              </div>
              <div class="col s9">
                <h3>A desenvolver</h3>
                <ul>
                  <li style="font-size: 15pt;">1º Negociação</li>
                  <li style="font-size: 15pt;">2º Conhecimento</li>
                  <li style="font-size: 15pt;">3º Relacionamento interpessoal</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        
        <div class="col s6">
          <div class="widget-header">
            <span style="font-size: 25pt; color: #fff;">9BOX</span>
            <span class="detail-header"
                  (click)="onShowQuestionnaireResult()">
              <i class="material-icons prefix" style="font-size: 30pt; color: #fff;" *ngIf="isLoadingComplete">more_vert</i>
            </span>
          </div>
          <div class="card" style="margin-top: 0px !important; height: 405px !important;">
            <app-nine-box-chart #appNineBoxChart [users]="data9Box" [axisX]="axisX" [axisY]="axisY" profile="{{ profileSelector === '1' ? 'user-profile' : 'team-profile' }}"></app-nine-box-chart>
          </div>
        </div>

        <div class="col s6">
          <div class="widget-header">
            <span style="font-size: 25pt; color: #fff;">Radar de competências</span>
            <span class="detail-header"
                  (click)="onShowQuestionnaireResult()">
              <i class="material-icons prefix" style="font-size: 30pt; color: #fff;" *ngIf="isLoadingComplete">more_vert</i>
            </span>
          </div>
          <div class="card" style="margin-top: 0px !important; height: 405px !important;">
            <app-comparison-of-results #appComparisonOfResults [data]="comparissonResultsData"></app-comparison-of-results>
          </div>
        </div>

      </div>

      <div class="row">
        
        <div class="col s12">
          <div class="widget-header">
            <span style="font-size: 25pt; color: #fff;">Histórico de competências</span>
            <span class="detail-header"
                  (click)="onShowQuestionnaireResult()">
              <i class="material-icons prefix" style="font-size: 30pt; color: #fff;" *ngIf="isLoadingComplete">more_vert</i>
            </span>
          </div>
          <div class="card" style="margin-top: 0px !important; height: 500px !important;">
            <app-history-chart #historyChart [person]="person" competence="{{ '' }}" [showData]="false"></app-history-chart>
          </div>
        </div>
      </div>

    </div>

  </main>
  
  <!-- Footer -->
  <app-footer></app-footer>
  
</div>

<div id="assessmentModal" class="modal">
  <div class="modal-content">
    <h4>Selecione a avaliação</h4>
    <ul style="margin-top: 10px;">
      <li *ngFor="let a of applicationsList" class="li-options" (click)="onSelectApplication(a._id)">
        <h3>{{ a.name }}</h3>
        <h4>Time: {{ a.team.name }}</h4>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
  </div>
</div>