.widget-header {
    background-color: #03a9f4;
    border-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px 20px;
    font-weight: bold;
}

.detail-header {
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
}

::ng-deep [type="radio"]:checked+span:after {
    background-color: #03a9f4 !important;
    border: 2px solid #03a9f4;
}

.li-options {
    font-size: 15pt;
}

.li-options:hover {
    background-color: #03a9f4;
    cursor: pointer;
    border-radius: 5px;
}